
.option-card {
  margin: 10px;
  border-radius: 0.8rem;
  font-size: 19px;
  height: 8rem;
  width: 4.8rem;
}

.option-card:hover {
  border-color: #0d6efd;
}

.card-body {
  display: flex;
}

.card-text {
  margin: auto;
}
