<div class="d-flex flex-row" style="width:100vw">
  <div class="d-flex flex-column" style="width:100%; height:100vh">
    <div class="d-flex flex-row" style="min-height: 3rem; background-color: #f9f9f9; padding: 10px;">
      <span>Cool Poker Game</span>
      <div class="flex-fill d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm" (click)="toggleTaskPanel()"> <i class="bi bi-arrow-right"></i> </button>
      </div>
    </div>
      <div class="d-flex flex-column" style="width: 100%;height: 100%">
        <div class="d-flex flex-row" style="height: 100%;">
          <div class="poker-table-container">
            <div class="poker-table-top">
              <user-card [User]="user" [Hidden]="hidden"></user-card>
            </div>
            <div class="poker-table-left">
              <user-card [User]="user" [Hidden]="hidden"></user-card>
            </div>

            <div class="poker-table">
              <button class="btn btn-primary" (click)="revealCards()">Reveal cards</button>
            </div>

            <div class="poker-table-right">
              <user-card [User]="user" [Hidden]="hidden"></user-card>
            </div>
            <div class="poker-table-bottom">
              <user-card [User]="user" [Hidden]="hidden"></user-card>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row align-items-end">
          <div class="card-options-container">
            <card *ngFor="let cardOption of cardOptions" [CardOption]="cardOption" (click)="submitOption(cardOption)"></card>
          </div>
        </div>
      </div>
    </div>
  <div id="jobsbarwrapper" class="d-flex flex-column" style="background: #f9f9f9; max-width: 30rem; width: 25rem">
    <app-task-queue-panel></app-task-queue-panel>
  </div>
</div>
