<div class="d-flex flex-column" style="height:100vh">
  <div class="d-flex flex-row" style="min-height: 3rem; background-color: #f9f9f9; padding: 10px">
    <span>Cool Poker Game</span>
  </div>
  <div class="d-flex flex-row" style="height: 100%;">
    <div class="poker-table-container">

      <div class="poker-table-top"></div>
      <div class="poker-table-left"></div>

      <div class="poker-table">
        <button class="btn btn-primary">Reveal cards</button>
      </div>

      <div class="poker-table-right"></div>
      <div class="poker-table-bottom"></div>
    </div>
    <div style="min-width: 24rem;  background-color: #f9f9f9;">

    </div>
  </div>
  <div class="card-options-container">
    <app-card></app-card>
  </div>
</div>


