#jobsbar{
  width: 100%;
}

#jobsbar ul{
  padding: 1rem;
  margin: 0;
}
#jobsbar ul li{
  display: block;
  padding-bottom: 1rem;
}

#jobsbar.collapsed{
  margin: 0;
  width: 1rem;
}

#jobsbar.collapsed #activeitem{
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.card.rounded{
  border-radius: 1rem !important;
}


