<div class="container">
  <p>Click the Button below to create a new Planning Poker room</p>
  <button (click)="createRoom()" class="btn btn-dark">Create Planning Room</button>
</div>


<div class="overflow-hidden p-3 p-md-5 m-md-3 bg-light">
  <div class="col-8 my-5">
    <h1 class="display-5 font-weight-normal float-start">Scrum Poker for agile development teams</h1>
    <p class="lead font-weight-normal">Simple and engaging tool to make estimates.</p>
    <div>
      <button (click)="createRoom()" class="btn btn-dark">Create Planning Room</button>
    </div>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden w-100">
    <div class="my-3 py-3">
      <h2 class="display-5">Stop boring plannings</h2>
      <p class="lead">We give you the confidence that your team is connected and stays productive.</p>
    </div>
    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100">
    <div class="my-3 p-3">
      <h2 class="display-5">Vote issues in real-time</h2>
      <p class="lead">Your team will be more engaged with our clear and useful interface.</p>
    </div>
    <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>
