
.option-card {
  margin: auto;
  border-radius: 0.8rem;
  font-size: 19px;
  height: 7rem;
  width: 4rem;
}

.blank {
  background-color: gray;
}

.hidden {
  background: linear-gradient(45deg,#3993ff 12%,transparent 0,transparent 88%,#3993ff 0),linear-gradient(135deg,transparent 37%,#1a7bf2 0,#1a7bf2 63%,transparent 0),linear-gradient(45deg,transparent 37%,#3993ff 0,#3993ff 63%,transparent 0),#74b3ff;
}

.visible {
  transform: rotateY(360deg);
  transition: 0.6s;
  transform-style: preserve-3d;
}

.card-body {
  display: flex;
}

.card-text {
  margin: auto;
}
