<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-body text-center">
      <div><img alt="profile image"
                class="img-lg rounded-circle mb-4"
                src="https://img.icons8.com/bubbles/100/000000/administrator-male.png">
        <h4>{{User.username}}</h4>
        <p class="text-muted mb-0">Some title</p>
      </div>
      <p class="mt-2 card-text">Scrum Poker for agile development teams</p>
      <button class="btn btn-primary mt-3 mb-4">Button</button>
      <div class="border-top pt-3">
        <div class="row">
          <div class="col-4">
            <h6>value 1</h6>
            <p>title 1</p>
          </div>
          <div class="col-4">
            <h6>value 2</h6>
            <p>title 2</p>
          </div>
          <div class="col-4">
            <h6>value 3</h6>
            <p>title 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
